html *, body * {
    margin: 0;
}

body {
    font-family: 'Overpass';
    background-color: #f7f7f7;
}

nav {
    position: fixed;
    top: -124px;
    width: 100%;
    height: 124px;
    background-color: #f7f7f7;
    color: #FFFFFF;
    display: flex;
	justify-content: center;
	align-items: center;
    transition: 0s;
    opacity: 0;
    z-index: 10;
}

nav #social {
    padding-bottom: 32px;
}

.displayNav {
	top: 0px;
	transition: 0s;
    opacity: 1;
}

#landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#landing #centered {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
}

#landing #centered img {
    height: 128px;
    border-radius: 50%;
    margin-right: 2rem;
}

@media only screen and (max-width: 850px) {
    #landing #centered {
        flex-direction: column;
    }
    #landing #centered img {
        margin-bottom: 1rem;
        margin-right: 0;
    }
    #landing #centered #content {
        text-align: center;
        margin: 0 auto;
        max-width: 20rem;
    }
}

#header {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

h1 {
  font-size: 28px;
  color: #774ee0;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 850px) {
  h1 {
    font-size: 20px;
  }
}

h2 {
  font-size: 20px;
  color: black;
  font-weight: normal;
}

h3 {
    color: #774ee0;
    /* font-size: 16px; */
    margin-bottom: 1rem;
}

#landing-social {
    position: absolute;
    bottom: 2rem;
}

  #social {
    display: table-cell;
    vertical-align: middle;
    padding-top: 2rem;
  }
  
  #social ul {
    text-align: center;
    padding-left: 0px;
    margin: 0 auto;
  }
  
  #social li {
    display: inline-block;
    list-style-type: none;
    margin: 10px;
  }
  
  /** email **/
  
  .email {
    width: 40px;
    height: 40px;
  }
  
  .email .border {
    background: transparent;
    outline: none;
    color: #774ee0;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    border: 2px solid #774ee0;
    transition: all .2s ease-in-out;
  }
  
  .email .border:hover {
    background: #774ee0;
    border-color: #774ee0;
    color: rgba(255,255,255, 0.9);
  }
  
  .fa.fa-envelope {
    font-size: 20px;
  }
  
  /** linkedin **/
  
  .linkedin {
    width: 40px;
    height: 40px;
  }
  
  .linkedin .border {
    background: transparent;
    outline: none;
    color: #774ee0;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    border: 2px solid #774ee0;
    transition: all .2s ease-in-out;
  }
  
  .linkedin .border:hover {
    background: #774ee0;
    border-color: #774ee0;
    color: rgba(255,255,255, 0.9);
  }
  
  .fa.fa-linkedin {
    font-size: 20px;
  }
  
  /** github **/
  
  .github {
    width: 40px;
    height: 40px;
  }
  
  .github .border {
    background: transparent;
    outline: none;
    color:#774ee0;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    border: 2px solid #774ee0;
    transition: all .2s ease-in-out;
  }
  
  .github .border:hover {
    background: #774ee0;
    border-color: #774ee0;
    color: rgba(255,255,255, 0.9);
  }
  
  .fa.fa-github {
    font-size: 20px;
  }
  
  #social ul li .border:hover {
    cursor: pointer;
  }

  .fa.fa-angle-double-down {
      color: #774ee0;
      font-size: 20px;
      /* position: absolute;
      bottom: 2rem; */
      /* -webkit-animation: action 0.7s infinite alternate;
      animation: action 0.7s infinite alternate; */
  }
  @-webkit-keyframes action {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  @keyframes action {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  /* Details */
#details {
    /* height: 200vh; */
    width: 40rem;
    margin: 0 auto;
}

@media only screen and (max-width: 850px) {
    #details {
        width: 20rem;
    }
}

.section {
    margin-top: 4rem;
}

.section h3 {
  margin-bottom: 1.1rem;
  font-size: 1.2rem;
  line-height: 150%;
}

.section p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 130%;
}

.section a {
  color: #774ee0;
  text-decoration: none;
}

.section b {
  font-weight: 500;
}

/* .section ul li p {
  margin-bottom: 0.5rem;
} */

.technologies {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-style: italic;
  color: #36454F;
}

.bottom {
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.bottom p {
  font-size: 0.9rem;
  color: #36454F;
  text-align: center;
}